p, h1, h2, h3,
h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: "Futura PT";
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: #000000;
}

h1 {
  display: inline;
}

.title_wrapper {
  width: 100%;
  text-align: center;
}

.section_title {
  color: #000000;
  font-size: 35px;
  font-weight: 500;
}

.bg-gray {
  background-color: #f8f8f8;
  margin: 0 80px;
  padding: 0 30px;
}

.btn-primary {
  border-radius: 5px;
  background-image: linear-gradient(to top, #f5db43 0%, #fceb85 100%);
  color: #131313;
  padding: 20px 50px;
  font-size: 20px;
  border: none;
  font-weight: 500;
  position: relative;
  z-index: 10;
}

.btn-primary:active, .btn-primary:hover, 
.btn-primary:focus {
  border: none;
  color: #131313!important;
  box-shadow: none!important;
} 


.underlined {
  background-image: linear-gradient(#ffffff00 60%, #f7e789 0); 
}

.list_item {
  display: flex;
  flex-direction: row;
}

.list_item p {
  font-size: 22px;
}

.list_item img {
  align-self: flex-start;
  margin-right: 20px;
  margin-top: 11px;
}

header .container {
  padding: 50px 0;
}

@media screen and (min-width: 1600px) {
  header .container {
    max-width: 1420px!important;
  }
}

.phone {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
}

.burger-wrapper {
	position: relative;
	width: 28px;
	height: 14px;
  cursor: pointer;
}

.burger-1, .burger-2, .burger-3 {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.burger-1 {
	position: absolute;
	top: 0;
	right: 0;

	width: 28px;
	height: 2px;

	background: #000000;
	border-radius: 50px;
}

.burger-2 {
	position: absolute;
	top: 6px;
	right: 0;

	width: 20px;
	height: 2px;


	background: #000000;
	border-radius: 50px;
}

.burger-3 {
	position: absolute;
	top: 12px;
	right: 0;

	width: 28px;
	height: 2px;

	background: #000000;
	border-radius: 50px;
}

/* main */


.main {
  padding-top: 90px;
  position: relative;
}

.main .btn {
  margin-bottom: 180px;
}

.main_img {
  position: absolute;
  bottom: 0px;
  right:  2%;
  width: 70%;
}

@media screen and (min-width: 1500px) {
  .main .container {
    max-width: 1350px!important;
    position: relative;
  }

  .main_img {
    width: auto;
    right: -7%;
  }
}

.main_date, .main_name,
.main_subtitle {
  font-weight: 400;
}

.main_title-wrapper {
  margin-top: 90px;
}

.main_title {
  font-size: 56px;
  font-weight: 800;
}

.main_subtitle {
  font-size: 47px;
  margin-top: 40px;
}

.main_text {
  margin-top: 45px;
  margin-bottom: 85px;
}

/* level */

.level {
  padding-top: 120px;
  padding-bottom: 180px;
}

.level .title_wrapper {
  margin-bottom: 140px;
}

.level .section_title span {
  background-color: #f7e789;
  padding: 0 20px;
}

.level_item {
  text-align: center;
}

.level_item p {
  font-size: 26px;
  color: #202020;
  font-weight: 400;
}

.level_item-subtitle {
  margin-bottom: 32px;
}

.level_item-title {
  font-size: 38px;
  margin-bottom: 35px;
}

.level_highlighted {
  background-color: #f7f7f7;
  padding: 60px 60px 30px 60px;
  margin-top: 80px;
  position: relative;
}

.level_highlighted::after {
  position: absolute;
  top: -35px;
  left: 280px;
  background-color: #ffffff;
  display: block;
  content: '';
  width: 80px;
  height: 60px;
  border-radius: 100%;
}

@media screen and (min-width: 1500px) {
  .level>.container {
    max-width: 1300px!important;
  }
}

/* wherefore */

.wherefore {
  padding: 100px 0;
}

.wherefore .container {
  max-width: 1000px;
}

.wherefore_item {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  justify-content: flex-end;
  margin-top: 90px;
}

.wherefore_item p {
  font-size: 24px;
}

.wherefore_item img {
  align-self: center;
  margin-bottom: 35px;
}


/* quote */

.quote {
  padding: 150px 0px;
}

.quote p {
  color: #000000;
  font-size: 31px;
  font-weight: 300;
  position: relative;
}

.quote p span {
  font-weight: 500;
}

.quote img {
  position: absolute;
  top: 0px;
  left: -60px;
}

/* why */

.why {
  margin-bottom: 150px;
}

.why .container {
  background-color: #fbe872;
  padding: 60px 0 100px 0!important;
  box-shadow: 0 31px 0px -18px #b7a84e;
}

.why .title_wrapper {
  margin-bottom: 70px;
}

.why_container {
  padding-left: 79px;
}

.why p {
  font-size: 24px;
}

/* who */
.who {
  padding: 60px;
}

.who_item {
  padding: 21px 26px;
  border: 3px solid #f6de51;
  background-color: #ffffff;
  display: inline-flex;
  margin: 12px 0;
  margin-left: 65px;
}

.who_afterword {
  opacity: 0.43;
  color: #040404;
  font-size: 26px;
  font-weight: 400;
  max-width: 600px;
  text-align: center;
  display: block;
  margin: 70px auto 0;
}


/* what */

@media screen and (min-width: 1500px) {
  .what .container {
    max-width: 1300px;
  }
}

.what {
  padding-top: 150px;
  padding-bottom: 195px;
}

.what_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.what_item {
  width: 22%;
  min-width: 200px;
  padding: 60px 30px 45px;
  background-color: #f8e67d;
  margin: 45px 15px;
  text-align: center;
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  position: relative;
}

.what_afterword {
  opacity: 0.64;
  color: #000000;
  font-weight: 400;
  margin-top: 80px;
  margin-bottom: 45px;
}

.what_subtitle {
  opacity: 0.53;
  color: #010101;
  font-size: 28px;
  margin-top: 40px;
  margin-bottom: 55px;
}

.what_img {
  position: absolute;
  width: 33%;
  top: -50px;
  left: 33%;
}

/* author */
.author {
  padding: 61px 0;
}

.author .container {
  max-width: 1380px;
}

.author_name {
  margin-top: 50px;
}

.author_name span {
  color: #f5db43;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.author_pluces-container {
  padding-left: 25px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 0;
}

.author_pluces-container p {
  margin-left: -25px;
}

.author_pluces-container li {
  color: #25a36f;
}

.author_pluces-container li > span {
  color: #343434;
  font-size: 22px;
  font-weight: 400;
} 
/* cost */

.cost {
  padding-top: 180px;
}

.cost .title_wrapper {
  margin-bottom: 100px;
}

@media (min-width: 1500px) {
  .cost .container {
    max-width: 1330px;
  }
}

.table th {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
}

.table th, .table td {
  text-align: center;
  padding: 25px 20px;
  vertical-align: middle!important;
}

.table-striped tbody tr:last-child {
  background-color: #ffffff;
}

.table_content td:nth-of-type(2n+1) {
  font-size: 36px;
  color: #25a36f;
}

.table_content td:nth-of-type(2n) {
  font-size: 36px;
  color: #da3535;
}

.table_cost {
  font-size: 27px;
  font-weight: 500;
}

.cost_mobile-item {
  width: 80%;
  text-align: center;
  margin: 40px auto;
  box-shadow: 0 0 2em 0 rgba(0,0,0,.2);
  padding: 40px 30px;
}

.cost_mobile-item h2{
  margin-bottom: 40px;
}

.cost_mobile-item p {
  text-align: center;
  margin: 5px 0;
}

.cost_mobile-item .btn {
  margin-top: 40px;
}

.cost_price {
  margin-top: 20px;
  font-weight: 500;
  font-size: 24px;
}

.enabled::before {
  content: '+';
  color: #25a36f;
  margin-right: 5px;
}

.disabled::before {
  content: '-';
  color: #da3535;
  opacity: 0.5;
  margin-right: 5px;
}

.disabled {
  opacity: 0.5;
}

/* discounts */
.discounts {
  position: relative;
  margin: 40px 0;
}

.discounts:after {
  content: '';
  display: block;
  position: absolute;
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background-color: #ededed;
  opacity: 0.33;
  top: 0;
  left: calc(50% - 245px);
  z-index: -1;
}

.discounts .container {
  height: 490px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 20px 0; 
}

.discounts_container {
  border-radius: 5px;
  background-color: #fff4ce;
  padding: 45px 0;
}

.discounts_container h1 {
  font-weight: 300;
}

.discounts_container h3 {
  font-weight: 500;
}

.discounts_container + .btn-primary {
  margin-top: -20px;
}

/* afterparty */
.afterparty {
  padding: 85px 0;
}

.afterparty .title_wrapper {
  text-align: left;
}

.afterparty .container {
  max-width: 1400px;
}

.afterparty h4 {
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 47px;
}

.afterparty_container .btn-primary {
  margin-top: -40px;
}

/* partners */
.partners {
  padding: 120px;
}

.partners .container {
  max-width: 1040px;
}

.partners .title_wrapper {
  margin-bottom: 50px;
}

/* q_form */

.q_form {
  background: #f8f8f8;
  padding: 80px 0 110px 0;
}

.q_form input {
  background-color: #eaeaea;
  border-radius: 5px;
  border: none;
  padding: 25px 0 25px 25px;
  width: 100%;
  color: #303030;
  font-size: 18px;
  font-weight: 500;
}

.q_form input::placeholder {
  color: #696969;
  font-size: 18px;
  font-weight: 500;
}

.q_form input:focus {
  border-radius: 5px;
  border: 2px solid #696969;
  outline: none;
}

.q_form form {
  margin-top: 60px;
}

.q_form .btn {
  display: block;
}

.q_tel {
  color: #000000;
  font-size: 30px;
  font-weight: 500;
}

.q_form form + .row {
  margin-top: 70px;
}

/* contacts */

.contacts {
  padding-top: 140px;
}

.contacts .title_wrapper {
  margin-bottom: 70px;
}

.contacts a, .contacts h3 {
  font-size: 1.75rem;
  font-weight: 400;
  color: #000000;
  display: block;
}

.contacts a:hover, .contacts a:focus, .contacts a:active {
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  /*fonts size*/
  html {
    font-size: 14px;
  }

  .section_title {
    font-size: 33px;
  }

  .list_item p, .what_item {
    font-size: 20px;
  }

  .quote p {
    font-size: 29px;
  }

  .why p {
    font-size: 22px;
  }

  .what_subtitle, .who_afterword, .level_item p {
    font-size: 24px;
  }

  .author_name span {
    font-size: 16px;
  }

  .author_pluces-container li > span {
    font-size: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .btn-primary {
    font-size: 18px;
    padding: 15px 30px;
  }

  .table th, .table td {
    padding: 10px 5px;
  }

  .cost .container {
    width: 95%;
  }

  .table_cost {
    font-size: 24px;
  }

  .cost .btn {
    padding: 10px 30px;
  }

  .bg-gray {
    margin: 0 25px; 
  }

  .who {
    padding: 30px;
  }

  .who_item {
    margin-left: 35px;
    padding: 16px 21px; 
  }

  .who_afterword {
    margin-top: 30px;
  }

  .what {
    padding: 80px 0;
  }

  .what_item {
    padding: 40px 20px 30px;
    margin: 30px 15px;
  }

  .author_name {
    margin-top: 25px;
  }
  
  .author_pluces-container {
    margin-top: 20px;
  }

  .partners {
    padding: 90px;
  }

  .q_form {
    padding: 60px 0 80px;
  }

  .contacts {
    padding-top: 100px;
  }

}
